body {
    font-family: "Roboto", sans-serif;
    color:  #434455;
	background-color: #FFFFFF;

}

.logoweb{
    color:#4D5AE5; 
    font-family: "Raleway",sans-serif;     
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logostudio-main {

    color: #2e2f42;     

}
.logostudiofooter {   

    color: #F4F4FD;  

}

.nav-item {

    color:#2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
.address {
    font-style: normal;
    
} 

.maininfo{
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    font-style: normal;
}

.nav-link, .logostudio-main {
    text-decoration: none;
    color:#2e2f42;
}

a:hover,
a:focus {
    color: #404bbf;   

}
.baner {
    background-color: #2E2F42;
    letter-spacing: 0.02em;

}
.banner-heading {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button_baner {
    background-color:#4D5AE5;
    color:#FFFFFF ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button_baner {
    cursor: pointer;
}
.button_baner:hover {
    background-color: #404BBF;

}

.button_baner:focus {
    background-color: #404BBF; 
 }

.features-list {
    text-decoration: none;
}
.features-list li {
    text-decoration: none;
}
.team-member li { 
    background-color: #FFFFFF;
}

.section-heading {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.section-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.team {
    background-color: #F4F4FD;
}
.group {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team_item {
    background-color: #F4F4FD;
}
.section-heading {
    color: #2e2f42  ;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-description {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main-title {
    color: #2e2f42  ;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center ;
    text-transform: capitalize;
}
.project-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2 ;
    letter-spacing: 0.02em;

}
.project-description{
    color: #434455  ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}    
.site-footer{
    background-color: #2E2F42;
      
}
.footer-description{
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}