.link {
    text-decoration: none;
  }
  
.list {
    list-style-type: none;
  }
  
.button {
    cursor: pointer;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  img {
    display: block;
  }
  
.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .visualli-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  .logoweb{
    color:#4D5AE5; 
    font-family: "Raleway",sans-serif;     
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logostudio-main {

    color: #2e2f42;     

}
.logostudiofooter {   

    color: #F4F4FD;  

}

.nav-item {

    color:#2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
.address {
    font-style: normal;
    
} 

.maininfo{
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    font-style: normal;
}

.nav-link, .logostudio-main {
    text-decoration: none;
    color:#2e2f42;
}

a:hover,
a:focus {
    color: #404bbf;   

}
.baner {
    background-color: #2E2F42;
    letter-spacing: 0.02em;

}
.banner-heading {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button_baner {
    background-color:#4D5AE5;
    color:#FFFFFF ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button_baner {
    cursor: pointer;
}
.button_baner:hover {
    background-color: #404BBF;

}

.button_baner:focus {
    background-color: #404BBF; 
 }
.mycontent-container {
    padding-left: 15px;
    padding-right: 15px;
  }

.features-list {
    text-decoration: none;
}
.features-list li {
    text-decoration: none;
}
.team-member li { 
    background-color: #FFFFFF;
}
.team-conteiner {
    padding-left: 15px;
    padding-right: 15px;
  }

.section-heading {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.section-description {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.team {
    background-color: #F4F4FD;
}
.teamlead {
    padding: 32px 0;
  }
.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}
      
.list-team-item {
    background-color: #ffffff;
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px; 
}
.group {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team_item {
    background-color: #F4F4FD;
}
.portfolio-container {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 15px;
    padding-right: 15px;
  }
.section-heading {
    color: #2e2f42  ;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-description {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main-title {
    color: #2e2f42  ;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center ;
    text-transform: capitalize;
}
.project-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2 ;
    letter-spacing: 0.02em;

}
.project-description{
    color: #434455  ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}    
.site-footer{
    background-color: #2E2F42;
      
}
.footer-description{
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.foot-container{
    padding-top: 101.5px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
